@charset "utf-8";

* {
    outline: 1px solid red;
}

/* MODAL */
.modal {
    width: 100%;
    height: 100%;
}

.modal-container {
    position: fixed;
    inset: 0;
    overflow: hidden;

    background: var(--glass-bg);
    backdrop-filter: blur(16px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(16px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 15;
}

/* SHOW */
.modal-container.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-bg {
    overflow: hidden;
}

/* MODAL CONTENT */
.modal-content {
    position: relative;
    overflow-y: auto;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border: var(--c-dark);
    border-radius: 1rem;

    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;

    display: grid;
    place-items: center;
    padding: 40px;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-img {
    max-width: 320px;
    max-height: 320px;
}

.modal-txt {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 2px;
    color: var(--c-dark);
    text-align: center;
}

.modal .link {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;

    margin-top: 2rem;
}

.modal-txt:nth-child(n+1) {
    margin-top: 40px;
}

/* animation */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
