@charset "utf-8";

/* MODAL */
.modal {
    width: 100%;
    height: 100%;
}

.modal-container {
    position: fixed;
    inset: 0;
    overflow: hidden;

    background: var(--glass-bg);
    backdrop-filter: blur(20px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(20px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 20;
}

/* SHOW */
.modal-container.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    touch-action: none;
}

/* MODAL CONTENT */
.modal-content {
    position: relative;
    overflow-y: auto;
    touch-action: auto;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border: var(--c-dark);
    border-radius: 1rem;

    width: calc(100% - 40px);
    max-width: 800px;
    height: 100%;
    max-height: 600px;

    display: grid;
    place-items: center;
    padding: 40px;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-img {
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 320px;
    object-fit: contain;
    margin: 10px;
}

.modal-txt {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 2px;
    color: var(--c-dark);
    text-align: center;

    margin-top: 40px;
}

.modal-txt:first-of-type {
    margin-top: 0;
}

.modal .link {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;

    margin-top: 40px;
}

/* animation */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
