@charset "utf-8";

:root {
    --c-glass: #bbb;
    --c-light: #f2f3f4;
    --c-dark: #222;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --glass-bg: color-mix(in srgb, var(--c-glass) 12%, transparent);

    --glass-effect:
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

/* modal */
.modal {
    max-width: 90vw;
    max-height: 90vh;
}

.modal-container {
    position: fixed;
    inset: 0;
    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 15;
}

/* 表示状態 */
.modal-container.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.show .works {
    overflow-y: hidden;
}

.modal-content a {
    color: var(--c-dark);
}

/* モーダルの中身 */
.modal-content {
    position: relative;
    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
    border: var(--c-dark);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(.95);
    transition: transform .3s ease;
    scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-img {
    max-width: 100%;
}

.modal-txt {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--c-dark);
    text-align: center;
}

.modal-txt:nth-child(n+2) {
    margin-top: 3rem;
}

@media (min-width:768px) {
    .modal-content {
        max-width: 60vw;
    }

    .modal-img {
        max-width: fit-content;
        max-height: 80vh;
    }

    .modal-txt {
        font-size: 1.2rem;
    }
}

/* 開いた時のアニメーション */
.modal.show .modal-content {
    transform: scale(1);
}

/* 閉じるボタン */
.close {
    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
    color: var(--c-dark);
    border: none;
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    line-height: 1.6;
    cursor: pointer;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    z-index: 20;
}

.close:hover {
    opacity: .8;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1800deg);
        /* 360*5 → 1800 */
    }
}
