@charset "utf-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --c-glass: #aaa;
    --c-light: #f2f3f4;
    --c-dark: #222;

    --i-logo: url("../img/logo/svg/dark/logo_clrz_dark.svg") no-repeat center / contain;

    --f-formal: "Figtree", sans-serif;
    --f-ru: "PT Sans", sans-serif;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --glass-bg: color-mix(in srgb, var(--c-glass) 12%, transparent);

    --glass-effect:
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-light: #222 !important;
        --c-dark: #f2f3f4 !important;

        --i-logo: url("../img/logo/svg/light/logo_clrz_light.svg") no-repeat center / contain;
    }
}

html,
body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--f-formal);
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;

    background: var(--c-light);
    color: var(--c-dark);

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

a {
    color: var(--c-dark);
}

a:hover {
    opacity: .8;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo,
.logo a {
    width: 40px;
    height: 30px;
    display: flex;
}

.logo-img {
    width: 100%;
    height: 100%;
    background: var(--i-logo);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    gap: 4vw;
    padding: 8px 1rem;

    margin-top: 1rem;
    border-radius: 8px;
    position: fixed;
    z-index: 10;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

@media (min-width:768px) {

    .nav,
    .menu {
        gap: 20px;
    }
}

.menu a {
    color: var(--c-dark);
}

.inner {
    display: grid;
    place-items: center;
    padding: 20px 0;
    gap: 4rem;
}

/* MAIN - PR */
.pr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.profile-title {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.profile {
    display: flex;
    gap: 5vw;
    margin-bottom: 2rem;
}

.pr-txt {
    display: flex;
    flex-direction: column;
}

.rne-img {
    width: 4rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.rne-img img {
    border-radius: 8px;
}

.profile-name {
    font-size: 14px;
    font-weight: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name span {
    border-left: 1px solid var(--c-dark);
    padding: 1rem 0;
    margin: 0 1rem;
}

.topic-list {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.topic-list dt {
    clear: left;
    float: left;
    width: 6rem;
    margin-right: 2rem;
}

.topic-list dd {
    overflow: hidden;
}

.s-pr {
    width: calc(100% - 40px);
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    color: var(--c-dark);
    line-height: 1.6;
    font-size: 14px;
    font-weight: normal;
}

.ru {
    font-family: var(--f-ru);
    font-weight: normal;
    letter-spacing: 1px;
}

.profile-title,
.profile-name,
.s-pr {
    margin-bottom: 1rem;
}

/* MAIN - WORKS */
.works {
    width: calc(100% - 40px);
    max-width: 960px;

    display: grid;
    place-items: center;
}

.works-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;

    border-radius: 1rem;
    z-index: 5;
}

.box {
    width: 100%;
    height: 400px;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 10vw;
    font-weight: bold;
    color: var(--c-dark);
}

.category {
    width: 100%;

    display: grid;
    place-items: center;
    justify-items: stretch;
    gap: 1rem;
    padding: 40px 0;
}

.category-txt {
    text-align: center;
}

.tags-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    font-size: 14px;
    font-weight: normal;
}

.tags-list li {
    list-style: inside;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 8px;
    padding: 16px 12px;
}

.tags-list li:hover {
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;

    transition: all .5s ease;
}

.works-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
}

@media (min-width:600px) {
    .title {
        font-size: 5vw;
    }

    .tags-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .works-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:768px) {
    .tags-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .works-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.works-item,
.more {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 1rem;

    cursor: pointer;
    transition: background-color .5s ease;
}

.works-item:hover {
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;

    transition: all .5s ease;
}

.works-item:hover .works-img {
    transform: scale(1.1);
    transition: transform .5s ease;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    padding: 10px;
    border-radius: 1rem;
}

.works-item-inner {
    width: calc(100% - 40px);
    max-width: 200px;
    height: fit-content;

    display: grid;
    place-items: center;
    gap: 10px;
}

.works-img {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.works-img img {
    width: fit-content;
    height: 100%;
    max-height: 160px;
    object-fit: contain;
}

.works-item-txt {
    font-size: 1rem;
    opacity: .5;
}

.works-item-title {
    font-size: 1rem;
    text-align: center;
}

.tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    font-size: 12px;
    font-weight: normal;
    gap: 4px;
}

.tags li::before {
    content: "#";
}

.more {
    text-transform: uppercase;
    color: var(--c-dark);
}

/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.address {
    width: calc(100% - 40px);
    max-width: 600px;

    display: grid;
    place-items: center;
    padding: 80px;
    margin-bottom: 40px;
    border-radius: 1rem;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
}

.info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    gap: 20px 40px;

    color: var(--c-dark);
    font-size: 1rem;
    font-weight: bold;
}

.info dt {
    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.info dd {
    line-height: 1.6;
    overflow: hidden;
}

.link {
    color: var(--c-dark);
    text-decoration: underline;
}

.footer-txt {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 1rem;
}

@media (min-width:700px) {
    .info {
        grid-template-columns: auto 1fr;
    }
}
